.home__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    form {
        border: 1px solid rgb(57, 60, 73);
        border-radius: 8px;
        padding: 14px;
        background-color: #2D303E;

        input {
            background-color: transparent;
            border: none;
            outline: none;
            margin-left: 10px;
            font-size: 16px;
            color: white;
        }

    }
}

.ht_h2 {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 500;
    font-family: sans-serif;
}
.ht_p{
    color: rgb(224, 230, 233);
    font-size: 22px;
}